// you can change colors here
$theme-color: rgb(239 148 196);
$theme-color-light: rgb(247 210 201);
$font-family: "Montserrat, sans-serif";

$text-color: (
        light: #17232b,
        dark: #e6e3e3,
);

$text-color-light: (
        light: #17232b,
        dark: #e6e3e3,
);